@model InvestManager.Models.Operation

@{
    ViewData["Title"] = $"Deletar {Operation.GetModelName()}";
}

<br />

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Asset)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Asset)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dd>
                <br />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn btn-default btn-sm" onclick="return confirm('Deseja realmente excluir o registro?');" />
                </form>
            </dd>
        </dl>

    </div>
</div>
<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
