@model InvestManager.Models.Parameter

@{
    ViewData["Title"] = $"Detalhes do {Parameter.GetModelName()}";
}

<br />

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TradingFee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TradingFee)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LiquidityFee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LiquidityFee)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
